@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "raleway";
  src: url("/fonts/raleway.ttf");
}
@font-face {
  font-family: "ralewayBlack";
  src: url("/fonts/Raleway-Black.ttf");
}
@font-face {
  font-family: "ralewayBold";
  src: url("/fonts/Raleway-ExtraBold.ttf");
}

.cShadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.bgGradient {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    144deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(65, 190, 205, 1) 12%,
    rgba(14, 35, 120, 1) 33%,
    rgba(155, 0, 167, 1) 61%,
    rgba(65, 190, 205, 1) 87%,
    rgba(255, 255, 255, 1) 100%
  );
}
